.tetris-container {
    display: flex;
}

.tetris-left {
    background-color: #141414;

    width: 200px;
    height: 400px;

    display: flex;
    flex-wrap: wrap;
}

.tetris-left div {
    width: 20px;
    height: 20px;
}

.tetromino-color {
    background-color: greenyellow;
}
